---
import "../styles/global.css";

import Navbar from "../sections/Navbar.astro";

const siteData = {
  title: "Newsletter Page",
  description: "This is the web you want to follow, if you want the news.",
};

const { title = siteData.title, description = siteData.description } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col items-center font-Inter">
    <main class="my-8 p-6 xl:w-[1112px]">
      <Navbar />
      <slot />
    </main>
  </body>
</html>
