---
import "../styles/global.css";

import Navbar from "../components/navbar/Navbar.astro";

const siteData = {
  title: "Newsletter Page",
  description: "This is the web you want to follow, if you want the news.",
};

const { title = siteData.title, description = siteData.description } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col max-w-7xl items-center font-Inter"
  >
    <Navbar />
    <slot />
  </body>
</html>
